.header-nav{
    width: 100vw;
    height: 85px;
    background-color: white;
    padding-left: 20px;
    padding-right: 50px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
.anchor-info{
    text-decoration: none;
    font-size: x-large;

}
.gap-links{
    gap: 20px;
}
